*{
    margin: 0;
    padding: 0;
}



#header{
    background-color: beige;
    display:flex;
    justify-content: center;
}

#options{
   
    margin-top: auto;
    margin-left: 33%;
}

h1{
    margin-right: 100px;
}
p{
    display: inline-block;
    margin-right: 10px;
}
